{erl_opts, [ debug_info ]}.

{deps, [
	{proper, "", {git, "git://github.com/manopapad/proper.git", {branch, "HEAD"}}},
	{eper, "", {git, "git@github.com:spilgames/eper.git", {branch, "HEAD"}}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_compile_opts, [{d, 'TESTING'}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{sub_dirs, ["rel"]}.
